<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Airbnb Choropleth Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <style>
        /* Basic styling for the map container */
        #chloroplethPlot {
            width: 500px;
            height: 300px;
        }
    </style>
</head>
<body>
    <div id="chloroplethPlot" style="position: relative;"></div>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="{{ url_for('static', filename='js/chloropleth.js') }}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</body>
</html>
